@CHARSET "UTF-8";

#contentIndex legend {
	font-size: 18px; 
	font-style: inherit; 
	font-weight: bold; 
	margin: 0px 1px 15px 0px; 
	background-color: #BEC895;
}

#contentIndex ul {
	margin-top: -10px; 
	list-style: none; 
	padding: 0; 
	margin-left: -5px;
}

#contentIndex ul li {
	padding:0; 
	float:left; 
	position:raletive; 
	margin-bottom: 10px; 
	margin-top: 10px;
}